<% include header.ejs %>
<% include navbar.ejs %>
<% include sidebar.ejs %>
<h3></h3>

 <div class="row">
    <div class="col m3 "></div>
    <div class="col s12 m6 ">
        <div class="card z-depth-5">
        
        <div class="card-content">
        <span class="card-title">Acessórios</span>
        <a href="/novo_acessorio" class="waves-effect waves-light btn blue darken-1 right">Novo Acessório</a>
        <table class="striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% for(var i=0; i< acessorios.length; i++) {%>
                <tr>
                    <td><%= acessorios[i].idacessorio %></td>
                    <td><%= acessorios[i].descricao %></td>
                    
                    <td><a href="/editar_acessorio/<%= acessorios[i].idacessorio %>">Editar</a></td>
                    <td><a href="/deletar_acessorio/<%= acessorios[i].idacessorio %>">Excluir</a></td>
                </tr>
            <% } %>
            </tbody>
            </table>
        </div>
        
        </div>
    </div>

    <div class="col m3 "></div>
</div>

<% include footer.ejs %>
