<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <title>Cadê minhas Armas</title>
    </head>
    <body class="  blue-grey lighten-5">
        <nav class="blue  darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left">Cadê minhas armas</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/users">Usuarios</a></li>
                  <li><a href="/reservas">Reservas</a></li>
                  <li><a href="#">Militares</a></li>
                  <li><a href="#">Equipamentos</a></li>
                  <li><a href="#">Cautelas</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  <li><a href="/users">Usuarios</a></li>
                  <li><a href="/reservas">Reservas</a></li>
                  <li><a href="#">Militares</a></li>
                  <li><a href="#">Equipamentos</a></li>
                  <li><a href="#">Cautela</a></li>
                </ul>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
            </div>
        </nav
