<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <title>Cade o Buzufba</title>
    </head>
    <body class="  blue-grey lighten-5">
        <nav class="blue  darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">Cadê minhas armas</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
            </div>
        </nav