<nav class="green  darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left">Cadê minhas armas</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/usuarios">Usuarios</a></li>
                  <li><a href="/militares">Militares</a></li>
                  <li><a href="/armamentos">Armamentos</a></li>
                  <li><a href="/acessorios">Acessorios</a></li>
                  <li><a href="/municoes">Munições</a></li>
                  <li><a href="/reservas">Reservas</a></li>
                  <li><a href="/cautelas">Cautelas</a></li>
                  <li><a href="/materiais">Reserva Material</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  <li><a href="/usuarios">Usuarios</a></li>
                  <li><a href="/militares">Militares</a></li>
                  <li><a href="/armamentos">Armamentos</a></li>
                  <li><a href="/acessorios">Acessorios</a></li>
                  <li><a href="/municoes">Munições</a></li>
                  <li><a href="/reservas">Reservas</a></li>
                  <li><a href="/cautelas">Cautelas</a></li>
                  <li><a href="/materiais">Reserva Material</a></li>
                </ul>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
            </div>
        </nav>